body {
    counter-reset: recipe-counter;
    padding-left: 10%;
    background-color: rgb(7, 76, 110);
}

.header {
    font-family: 'Lucida Handwriting', cursive, sans-serif;
    color: white;
    font-size: 72px;
    width: 380px;
    margin: 0 0 0.25em 0;
}

.cover {
    width: 380px;
    height: auto;
}

.recipes {
    font-family: 'Monaco', monospace;
    font-size: 25px;
    margin: 0.55em 0 0.55em 0;
}

.recipes a {
    display: inline-block;
    width: 100%;
    color: white;
}

.recipes a:before {
    counter-increment: recipe-counter;
    content: "0" counter(recipe-counter) " ";
}
